/* ---------------------------------------------
    Assets
--------------------------------------------- */
/* ---------------------------------------------
    Colors
--------------------------------------------- */
/* ---------------------------------------------
    Fonts
--------------------------------------------- */
/* ---------------------------------------------
    Stylings
--------------------------------------------- */
html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #dedede;
}

/* ---------------------------------------------
    Search Style Attributes
--------------------------------------------- */
.search {
  position: relative;
  z-index: 10;
}
.search:before, .search:after {
  content: "";
  height: 60px;
  width: 5px;
  background-color: #44a8fd;
  position: absolute;
  top: 0;
}
.search:before {
  left: -5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.search:after {
  right: -5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search .open-button {
  position: absolute;
  top: 0;
  left: -5px;
  width: calc(100% + 10px);
  height: 100%;
  z-index: 4;
  border-radius: 5px;
}
.search .open-button:hover {
  cusor: pointer;
}
.search form input, .search form button {
  float: left;
  border: 0;
  height: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
.search form input {
  width: 0px;
  background: #ffffff;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  letter-spacing: .5px;
  color: #344760;
}
.search form input::-webkit-input-placeholder {
  color: #dedede;
}
.search form input::-moz-placeholder {
  color: #dedede;
}
.search form input:-moz-placeholder {
  color: #dedede;
}
.search form input:-ms-input-placeholder {
  color: #dedede;
}
.search form button {
  width: 55px;
  background-color: #44a8fd;
  border: 0;
  padding: 0;
  position: relative;
}
.search form button:hover {
  cursor: pointer;
}
.search form button i {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  -webkit-transition: -webkit-transform 0.6s ease;
  -moz-transition: -moz-transform 0.6s ease;
  transition: transform 0.6s ease;
}
.search form button i:before, .search form button i:after {
  content: "";
  position: absolute;
}
.search form button i:before {
  width: 20px;
  height: 20px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -16px;
  background-color: #44a8fd;
  z-index: 2;
}
.search form button i:after {
  width: 3px;
  height: 20px;
  background-color: #ffffff;
  -webkit-transform: rotate(130deg);
  -moz-transform: rotate(130deg);
  -ms-transform: rotate(130deg);
  -o-transform: rotate(130deg);
  transform: rotate(130deg);
  left: 34px;
  top: 27px;
  border-radius: 5px;
  z-index: 1;
}
.search.active form input {
  width: 245px;
  padding: 20px 30px;
}
.search.active form button i {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
.search.active .open-button {
  display: none;
}

/* ---------------------------------------------
    Overlay Attributes
--------------------------------------------- */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: block;
}
.overlay.hidden {
  display: none;
}

/* ---------------------------------------------
    Title Style Attributes
--------------------------------------------- */
.title {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  z-index: -1;
}
.title h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: #d9d9d9;
  text-transform: uppercase;
  font-size: 151px;
  letter-spacing: 10px;
}
